# Development
CLICKHOUSE_URL=http://<username>:<password>@<host>:8123/sigflare_dev

# Production (configure the same key in Cloudflare secret)
# CLICKHOUSE_URL=http://<username>:<password>@<host>:8123/sigflare
